html {
	height: 100%;
}
body {
	height: 100%;
	padding: 50px;
	font-family: 'Lora', serif;
	background-color: #82b8f2;
}

img {
	width: 20%;
}

h1 {
	padding-top: 15px;
	margin-left: 20px;
	margin-bottom: 0;
	font-size: 2em;
}

h2 {
	font-size: 20px;
	color: #d8e7ff;
/*	border-bottom: 2px solid white;
	border-bottom-right-radius: 5px;*/
}

h3 {
	font-size: 1.2em;
}

#banner p{
	margin-left: 20px;
	font-style: italic;
}

h1, h2, h3 {
	font-weight: 700;
	margin-top: 10px;
}

.container {
	padding: 0;
	padding-bottom: 5%;
	border: 2px solid white;
	border-radius: 25px;
	background-color: rgba(0,0,20,0.6);
	color: white;
}

.content {
	height: 84%;
	font-size: 0.9em;
	border-left: 2px solid white;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
}

#skills {
	height: 84%;
}


#banner ul {
	list-style-type: none;
	border-left: 2px solid white;
	padding: 15px; 
	border-bottom: 2px solid white;
	border-bottom-left-radius: 15px;
}
#banner.row {
	padding: 0;
}

#skills {
	margin: auto;
	padding-left: 15px;
}

#skills ul {
	list-style-type: none;
	padding-left: 0;
}

#banner {
	padding: 20px;
}

footer {
	text-align: center;
	font-weight: 700;
}
/* progress bar formatting */

progress {
	/* style rules */
}
progress::-webkit-progress-bar {
	/* style rules */
}
progress::-webkit-progress-value {
	/* style rules */
}
progress::-moz-progress-bar {
	/* style rules */
}